/* RESET ***************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

section {
    margin-left: 16.43rem;
}

/* VARIAVEIS ***************************************************/
:root {
  --cor-principal: #ed7839;
  --cor-secundaria: #fdf1eb;
  --cor-fundo: #FFFFFF;
  --cor-fonte: #4d4d4d;
  --cor-titulo: #4e4e4e;
  --roboto: 'Roboto', sans-serif;
  --quicksand: 'Quicksand', sans-serif;
}

/* HEADER ***************************************************/
header {
    background-color: var(--cor-secundaria);
    margin-left: 16rem;
    padding-top: .3rem;
    padding-bottom: 0.25rem;
    padding-right: 1.81rem;
    display: flex;
    align-items: center;
}

header .titulo {
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 0.87rem;
}

header .titulo h1 {
    font-size: 1.37rem;
    font-weight: 400;
}

header .lingua {
    margin-left: 6.87rem;
    margin-right: 1.37rem;    
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: var(--quicksand);
    font-weight: 400;
    font-size: 0.87rem;
    display: flex;
}

header .lingua .container {    
    display: flex;
    align-items: center;
    justify-content: center;
}

#world {
    width: 1.37rem;
    height: 1.31rem;
}

#dropdown {
    width: 0.37rem;
    height: 0.25rem;
}

header .usuario {
    text-align: right;
    font-family: var(--quicksand);
    font-weight: 400;
    font-size: .87rem;
}

header .usuario #email {
    font-size: .75rem;
}

#avatar {
    width: 1.87rem;
}

header .pai {
    position: relative;
}

header .filho {
    position: absolute;
    top: -5px;
    width: 0.75rem;
    z-index: 2;
}

/* NAV ***************************************************/
nav {
    background-color: var(--cor-fundo);
    width: 13.75rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
	margin: 0; padding: 0;
	float: left;
    overflow-x: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

nav .titulo {
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    color: #FFFFFF;
    font-family: var(--roboto);
    font-weight: 700;
    height: 4.25rem;
    font-size: 1.87rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    font-family: var(--quicksand);
    font-weight: 500;
    color: var(--cor-fonte);    
}

nav ul {
    background-color: #E7E7E7;
}

nav ul li {
    background-color: var(--cor-fundo);
    padding-left: 1.5rem;
    padding-top: 0.43rem;
    padding-bottom: 0.43rem;
    margin-bottom: .12rem;
}

nav li:target {
    background-color: var(--cor-secundaria);
    border-left: 5px solid var(--cor-principal);
    
}

/* CONTEÚDO ***************************************************/
section {
    display: flex;
}

.background {
    background: rgba(141, 53, 6, 0.5);
    border-radius: 3px;
    background-image: url(./assets/praia.png);
    background-size: cover;
    width: 49.93rem;
    height: 27.43rem;
    position: relative;
}

.overlay {
    background: rgba(141, 53, 6, 0.5);
    border-radius: 3px;
    width: 49.93rem;
    height: 27.43rem;
}

section .titulo {
    font-family: var(--roboto);
    font-weight: 900;
    color: var(--cor-principal);
    width: 49.12rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

#titulo-video {
    font-family: var(--roboto);
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--cor-fundo);
    padding-top: 2.18rem;
    margin-left: 2rem;
    margin-right: 1.06rem;
}

#beatriz {
    font-family: var(--roboto);
    font-weight: 900;
    color: var(--cor-fundo);
    font-size: 2.12rem;
}

#universidade {
    font-family: var(--roboto);
    font-weight: 900;
    color: var(--cor-fundo);
    font-size: 1.25rem;
}

#info-video {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 3.25rem;
    left: 1.93rem;

}

#info-video img {
    width: 5.25rem;
    height: 5.37rem;
    margin-right: 1.06rem;
}

#lateral {
    margin-top: 1.25rem;
    margin-right: .3rem; 
    margin-left: 1.93rem; 
    width: 15.12rem;  
}

#buttons p {
    font-family: var(--roboto);
    font-weight: 500;
    font-size: .87rem;
    color: var(--cor-principal);
    text-align: right;
    margin-top: .75rem;
}

button {
    background-color: var(--cor-principal);
    border-radius: 4px;
    border: none;    
}

#download {
    width: 7rem;
    height: 1.93rem;
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 1rem;
    color: var(--cor-fundo);
}

button img {
    width: 1.18rem;
    height: 1.18rem;
}

#star, #doi {
    width: 2.68rem;
    height: 1.93rem;
}

#detalhes {
    border: 1px solid #ECECEC;
    border-radius: 3px;
}

#detalhes div {
    padding: .93rem;
    font-family: var(--quicksand);
    font-weight: 400;
    font-size: .87rem;
    line-height: 120%;
    color: var(--cor-fonte);
}

#rodape {
    color: #CCCCCC;
}

#detalhes h3 {
    background-color: var(--cor-secundaria);
    border-bottom: 1px solid #ECECEC;
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 1.25rem;
    padding-left: .93rem;
    padding-top: .68rem;
    padding-bottom: .56rem;
}

/* RESUMO ***************************************************/
#resumo {
    flex-direction: column;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    margin-right: .3rem;
    margin-top: 1.87rem;
}

#resumo h3 {
    background-color: var(--cor-secundaria);
    border-bottom: 1px solid #ECECEC;
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 1.25rem;
    padding-left: .93rem;
    padding-top: .68rem;
    padding-bottom: .56rem;
}

#resumo p {
    padding: .93rem;
    font-family: var(--quicksand);
    font-weight: 400;
    font-size: .87rem; 
    color: var(--cor-fonte);   
}

#resumo p span {
    color: var(--cor-principal);
    font-weight: 700;
}

#expandido {
    display: none;
}

/* DISCUSSÔES ***************************************************/
#discussoes {
    flex-direction: column;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    margin-right: .3rem;
    margin-top: 1.87rem;
}

#discussoes h3 {
    background-color: var(--cor-secundaria);
    border-bottom: 1px solid #ECECEC;
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 1.25rem;
    padding-left: .93rem;
    padding-top: .68rem;
    padding-bottom: .56rem;
}

#discussoes .container {
    padding: .93rem;
    font-family: var(--quicksand);
    font-weight: 400;
    font-size: .87rem; 
    color: var(--cor-fonte);
    text-align: center;
}

#discussoes .images {
    margin-top: 1.68rem;
}

#discussoes .images img {
    width: 3.12rem;
    height: 3.06rem;
    margin-right: 3.18rem;
}

#discussoes .paragrafo {
    margin-top: 2.18rem;
}

#discussoes .button {
    margin-top: .87rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#show,#content{
    display:none;
}

#discussoes button {
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    width: 8.31rem;
    height: 2rem;
    font-family: var(--quicksand);
    font-weight: 700;
    font-size: .93rem;
    color: var(--cor-fundo);
}

#discussoes button span {
    font-size: 1.4rem;
    font-weight: 400;
}


.linha {
    width: 45%;
    border: 1px solid #CCCCCC;
}

#topicos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.topico {
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    height: 9.25rem;
    margin-top: 1.06rem;
    padding-left: 1.5rem;
}

.topico h4 {
    font-family: var(--quicksand);
    font-weight: 700;
    font-size: 1rem;
    color: var(--cor-principal);
    margin-top: 1.06rem;
}

.topico .autor {
    font-family: var(--quicksand);
    font-weight: 500;
    font-size: .75rem;
    color: var(--cor-fonte);
    margin-bottom: .62rem;
}

.topico .conteudo {
    font-family: var(--quicksand);
    font-weight: 400;
    font-size: .87rem;
    color: var(--cor-fonte);
    margin-bottom: .68rem;
    margin-right: 1.43rem;
}

.topico .opcoes {
    font-family: 'Segoe UI';
    font-weight: 350;
    font-size: .87rem;
    display: flex;
}

.topico .opcoes p {
    margin-right: .93rem;
}

#heart {
    width: 1.68rem;
    height: 1.18rem;
    background-color: var(--cor-principal);
    margin-right: .93rem;

}

#heart img {
    width: .87rem;
    height: .87rem;
}

#info {
    width: .25rem;
    height: 1.12rem;
    margin-right: .93rem;
}

#comentario {
    display: none;
    flex-direction: column;
    text-align: left;
}

#comentario p {
    text-align: center;
    margin-bottom: 1.37rem;
}

#comentario label {
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 1rem;
    color: var(--cor-principal);
}

#comentario input {
    margin-bottom: .62rem;
    padding: .62rem;
}

#text-tools {
    background: #EAF1F2;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
    position: relative;
}

#text-tools div {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 4rem;
}

#text-tools img {
    height: .65rem;
    width: auto;
    float: left;
    margin-right: 1.87rem;
    
}

#text-tools button {
    float: right;
    background-color: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    border-radius: 0px 0px 4px 0px;
}

#enviado {
    display: none;
}

#p1 {
    font-family: var(--cor-principal);
    font-weight: 700;
    font-size: 1.12rem;
    color: var(--cor-principal);
    margin-bottom: 1.12rem;
}

#p2 {
    font-family: var(--quicksand);
    font-weight: 400;
    font-size: .87rem;
    color: var(--cor-fonte);
    margin-bottom: 1.81rem;

}

#p3 {
    font-family: var(--quicksand);
    font-weight: 500;
    font-size: .87rem;
    color: var(--cor-principal);
    text-decoration-line: underline;
    margin-bottom: 2.93rem;
}

#enviado button {
    margin-bottom: .87rem;
}

/* FOOTER ***************************************************/
footer {
    margin-left: 16.43rem;
    margin-top: 3.12rem;
}

/* RESPONSIVO ***************************************************/
@media (max-width: 1200px) {
nav {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
	margin: 0; padding: 0;
	float: none;
    overflow-x: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin-top: 1rem;
}

nav img {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section {
    margin-left: .5rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.conteudo .container .titulo,
.conteudo .container .background,
.conteudo .container .overlay {
    width: 100vw;
}

header {
    margin-left: .5rem;
    display: flex;
    flex-direction: column;
}

footer {
    width: 100vw;
    margin-left: .5rem;
}

footer .usuario {
    flex-direction: column;
}
}